.SliderWrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}
.item {
    background-color: rgb(10, 114, 79);
    padding: 30px;
    width: 20px;
    text-align: center;
    border-radius: 50%;
    font-size: 25px;
    color: white;
    transition: all 0.3s;
}
.item:hover {
    transform: translatey(-5px);
    box-shadow: 2px 8px 30px -6px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 2px 8px 30px -6px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 2px 8px 30px -6px rgba(0, 0, 0, 0.75);
}